<p id="notice"><%= notice %></p>

<p>
  <strong>Prescription details:</strong>
  <%= @prescription.prescription_details %>
</p>

<p>
  <strong>Prescription date:</strong>
  <%= @prescription.prescription_date %>
</p>
<p>
  <strong>Price:</strong>
  <%= euro (@prescription.price) %>
</p>
<p>
  <strong>Patient:</strong>
  <%= @prescription.patient.email %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @prescription.doctor.name %>
</p>

<%= link_to 'Edit', edit_prescription_path(@prescription) %> |
<%= link_to 'Back', prescriptions_path %>
