<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @doctor.name %>
</p>


<p>
  <strong>Image:</strong>
  <td><%= image_tag(@doctor.image,:size=>"100x70") %></td>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @doctor.speciality %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @doctor.phone %>
</p>

<p>
  <strong>Year of service:</strong>
  <%= @doctor.year_of_service %>
</p>

<p>
  <strong>Email:</strong>
  <%= @doctor.email %>
</p>





<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
