<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select:date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.select(:duration,Appointment::DURATION_LIST) %>
  </div>
  <div class="field">
    <%= f.label :appointment_reason %><br>
    <%= f.text_area :appointment_reason %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <% if signed_in? %>
		<%= @current_patient.email %>
	<% else %>
		<%= f.collection_select:patient_id,Patient.all, :id, :email %>
	<% end %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.collection_select:doctor_id,Doctor.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :nurse_id %><br>
    <%= f.collection_select:nurse_id,Nurse.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
